{
    "api": $REEARTH_CMS_API,
    "auth0Audience": $REEARTH_CMS_AUTH0_AUDIENCE,
    "auth0ClientId": $REEARTH_CMS_AUTH0_CLIENT_ID,
    "auth0Domain": $REEARTH_CMS_AUTH0_DOMAIN,
    "cesiumIonAccessToken": "$REEARTH_CESIUM_ION_ACCESS_TOKEN",
    "coverImageUrl": $REEARTH_CMS_COVER_IMAGE_URL,
    "editorUrl": $REEARTH_CMS_EDITOR_URL,
    "logoUrl": $REEARTH_CMS_LOGO_URL,
    "multiTenant": $REEARTH_CMS_MULTI_TENANT
}
