name: Update Cesium Ion access token (test)
on:
  schedule:
    - cron: "0 0 2 * *"
  workflow_dispatch:
env:
  CMS_WEB: reearth-cms-web
  REGION: us-central1
jobs:
  update_ion_token:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER}}
      - name: Get Cesium Ion token
        id: ion_token
        run: |
          ION_TOKEN=$( \
          curl -s https://raw.githubusercontent.com/CesiumGS/cesium/main/packages/engine/Source/Core/Ion.js | \
          node -e " \
            process.stdin.resume(); \
            process.stdin.setEncoding('utf8'); \
            let data = ''; \
            process.stdin.on('data', chunk => { data += chunk; }); \
            process.stdin.on('end', () => { \
              const defaultAccessTokenRegex = /const defaultAccessToken =(\n| ).*\"(.*)\";/; \
              const match = data.match(defaultAccessTokenRegex); \
              console.log(match ? match[2] : 'Token not found'); \
            }); \
          " \
          )
          echo "token=${ION_TOKEN}" >> $GITHUB_OUTPUT
      - name: Update Cloud Run
        run: |
          gcloud run services update $CMS_WEB \
            --update-env-vars REEARTH_CMS_CESIUM_ION_ACCESS_TOKEN=${{ steps.ion_token.outputs.token }} \
            --region $REGION \
            --platform managed
