name: deploy-test

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'Target to deploy'
        type: choice
        default: 'all'
        options: ['all', 'server', 'web', 'worker']
  workflow_call:
    inputs:
      target:
        type: string
        default: 'all'
        description: 'Target to deploy'
    secrets:
      GCP_PROJECT_ID:
        required: true
      GCP_SA_EMAIL:
        required: true
      GCP_WORKLOAD_IDENTITY_PROVIDER:
        required: true

env:
  GCP_REGION: us-central1

  # TODO: Remove after dockerizing the web.
  GCS_DEST: gs://cms.test.reearth.dev

  # server
  SERVER_IMAGE: reearth/reearth-cms:nightly
  SERVER_IMAGE_NAME: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/reearth/reearth-cms:nightly
  SERVER_IMAGE_GCP: us-central1-docker.pkg.dev/reearth-oss/reearth/reearth-cms:nightly

  # web
  WEB_IMAGE:  reearth/reearth-cms-web:nightly
  WEB_IMAGE_NAME: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/reearth/reearth-cms-web:nightly
  WEB_IMAGE_GCP: us-central1-docker.pkg.dev/reearth-oss/reearth/reearth-cms-web:nightly

  # worker
  WORKER_IMAGE:  reearth/reearth-cms-worker:nightly
  WORKER_IMAGE_NAME: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/reearth/reearth-cms-worker:nightly
  WORKER_IMAGE_GCP: us-central1-docker.pkg.dev/reearth-oss/reearth/reearth-cms-worker:nightly

jobs:
  deploy_server:
    name: Deploy server to test env
    runs-on: ubuntu-latest
    if: github.event.repository.full_name == 'reearth/reearth-cms' && github.ref_name == 'main' && (inputs.target == 'all' || inputs.target == 'server')
    permissions:
      contents: read # To checkout
      id-token: write # To authenticate with Google Cloud using OIDC
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Configure docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
      - name: docker push
        run: |
          docker pull $SERVER_IMAGE
          docker tag $SERVER_IMAGE $SERVER_IMAGE_GCP
          docker push $SERVER_IMAGE_GCP
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy reearth-cms-backend \
            --image $SERVER_IMAGE_GCP \
            --region $GCP_REGION \
            --platform managed \
            --quiet

  deploy_web:
    name: Deploy web to test env
    runs-on: ubuntu-latest
    if: github.event.repository.full_name == 'reearth/reearth-cms' && github.ref_name == 'main' && (inputs.target == 'all' || inputs.target == 'web')
    permissions:
      contents: read # To checkout
      id-token: write # To authenticate with Google Cloud using OIDC
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Configure docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
      - name: docker push
        run: |
          docker pull $WEB_IMAGE
          docker tag $WEB_IMAGE $WEB_IMAGE_GCP
          docker push $WEB_IMAGE_GCP
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy reearth-cms-web \
            --image $WEB_IMAGE_GCP \
            --region $GCP_REGION \
            --platform managed \
            --quiet

  deploy_worker:
    name: Deploy worker to test env
    runs-on: ubuntu-latest
    if: github.event.repository.full_name == 'reearth/reearth-cms' && github.ref_name == 'main' && (inputs.target == 'all' || inputs.target == 'worker')
    permissions:
      contents: read # To checkout
      id-token: write # To authenticate with Google Cloud using OIDC
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Configure docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
      - name: docker push
        run: |
          docker pull $WORKER_IMAGE
          docker tag $WORKER_IMAGE $WORKER_IMAGE_GCP
          docker push $WORKER_IMAGE_GCP
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy reearth-cms-worker \
            --image $WORKER_IMAGE_GCP \
            --region $GCP_REGION \
            --platform managed \
            --quiet
