name: ci-server
on:
  push:
    branches:
      - main
    paths:
      - server/**
      - .github/workflows/server.yml
  pull_request:
    paths:
      - server/**
      - .github/workflows/server.yml
jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo:4.4-focal
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: checkout
        uses: actions/checkout@v3
      - name: cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.45
          working-directory: server
      - name: test
        run: go test ./... -v -race -coverprofile=coverage.txt -covermode=atomic
        env:
          CMS_DB: mongodb://localhost
      - name: codecov
        uses: codecov/codecov-action@v2
        with:
          flags: server
          file: coverage.txt
