[build]
  publish = "dist"
  command = "yarn build:preview && (cd dist && curl -O https://cms.test.reearth.dev/reearth_config.json)"

[[redirects]]
  from = "/*"
  to = "/index.html"

[context.deploy-preview]
  environment = { NODE_VERSION = "18.16.1" }